body {
    padding-top: 150px;
    padding-right: 80px;
    padding-bottom: 0px;
    padding-left: 80px;
    background-color: rgb(209, 209, 209);
    height: 100vh;
}

.answer {
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 2px solid rgb(0, 16, 158);
    border-radius: 0.6em;
    color: rgb(0, 16, 158);
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.answer:focus { 
    color: black;
    box-shadow: 0 0 40px 40px rgb(0, 16, 158) inset;
}

.answer:hover {
    color: black;
    box-shadow: 0 0 40px 40px rgb(0, 16, 158) inset;
}

.mixandmatch {
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 2px solid rgb(0, 16, 158);
    border-radius: 0.6em;
    color: rgb(0, 16, 158);
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.mixandmatch:focus { 
    color: whitesmoke;
    box-shadow: 0 0 40px 40px rgb(0, 16, 158) inset;
}

.mixandmatch:hover {
    color: whitesmoke;
    box-shadow: 0 0 40px 40px rgb(0, 16, 158) inset;
}
  
.print {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    border-radius: 20px;
}

.standard { 
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 2px solid rgb(0, 16, 158);
    border-radius: 0.6em;
    color:  rgb(0, 16, 158);
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.standard:hover {
    color: whitesmoke;
    box-shadow: 0 0 40px 40px  rgb(0, 16, 158) inset;
}

.standard:focus { 
    color: whitesmoke;
    box-shadow: 0 0 40px 40px  rgb(0, 16, 158) inset;
}

.quit { 
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 2px solid rgb(158, 0, 0);
    border-radius: 0.6em;
    color:  rgb(158, 0, 0);
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.quit:hover {
    color: whitesmoke;
    box-shadow: 0 0 40px 40px  rgb(158, 0, 0) inset;
}

.quit:focus { 
    color: whitesmoke;
    box-shadow: 0 0 40px 40px  rgb(158, 0, 0) inset;
}

.submit { 
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 2px solid rgb(37, 158, 0);
    border-radius: 0.6em;
    color:  rgb(37, 158, 0);
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.submit:hover {
    color: whitesmoke;
    box-shadow: 0 0 40px 40px  rgb(37, 158, 0)inset;
}

.submit:focus { 
    color: whitesmoke;
    box-shadow: 0 0 40px 40px  rgb(37, 158, 0) inset;
}

.next { 
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 2px solid rgb(37, 158, 0);
    border-radius: 0.6em;
    color:  rgb(37, 158, 0);
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    position: relative;
    left: 80%;
}

.next:hover {
    color: whitesmoke;
    box-shadow: 0 0 40px 40px  rgb(37, 158, 0)inset;
}

.next:focus { 
    color: whitesmoke;
    box-shadow: 0 0 40px 40px  rgb(37, 158, 0) inset;
}


.inputbox { 
    margin-left: 20px;
}

.questions { 
    font-family: 'Montserrat', sans-serif;
    font-size: x-large;
    color: rgb(0, 0, 0);
}

.instructions { 
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
    color: rgb(0, 0, 0);
}

.results { 
    font-family: 'Montserrat', sans-serif;
    font-size: x-large;
    color: rgb(0, 0, 0);
}

.checkmark {
    flex-basis: 40%
}
  
.resultquestion {
    font-family: 'Montserrat', sans-serif;
    color:rgb(0, 0, 0);
    font-size: 20px;
    padding-left: 20px;
}

.dropbtn {
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 2px solid rgb(0, 16, 158);
    border-radius: 0.6em;
    color:  rgb(0, 16, 158);
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  }

  .dropbtn:focus { 
    color: whitesmoke;
    box-shadow: 0 0 40px 40px rgb(0, 16, 158) inset;
}

.dropbtn:hover {
    color: whitesmoke;
    box-shadow: 0 0 40px 40px rgb(0, 16, 158) inset;
}
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #8295a8;
    z-index: 1;
  
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    background-color: violet;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: transparent;}

  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
  }