html {
  scroll-behavior: smooth;
}
body{
  margin: 0;
  padding: 0;
  font-family:Poppins;
}
h1{
  font-size: 50px;
  font-family:Audiowide;
}
p{
  font-size: 24px;
  line-height: 50px;
}
.navbar{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #b9c0d1;
  width: 100%;
  height: 75px;
  z-index: 1;
}
.nav{
  display: flex;
  justify-content: right;
  list-style: none;
  margin-right: 15%;
}
.logo {
  flex: 1 1 auto;
  margin-left: 10%;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 35px;
}
img{
  width: 20%;
}
a{
  margin: 15px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  padding-bottom: 10px;
}
a:hover{
  color: #000;
}


