<div id="home-screen">
  
    <!-- <section>
      <div class="title">
        <h3>Let's do some</h3>
        <h1>PARALLAX</h1>
      </div>
    </section> -->
    
    <section>
        <div class="section-one">
          <h2>Welcome to Eastwood FBLA</h2>
        </div>
    </section>
    
    <section>
      <div class="block">
        <p><span class="first-character sc">A</span>steady stream of dedicated, hardworking members has kept Eastwood FBLA successful 
            in any endeavours or challenges the chapter has taken on since its founding in 1985. The members are diverse in their 
            character and high school activites, but all are united by their drive and passion towards the organization and the chapter.</p>
        <p class="line-break margin-top-10"></p>
        <p class="margin-top-10"></p>
      </div>
    </section>
    
    <section>
      <div class="section-two">
        <h2>ABOUT</h2>
      </div>
    </section>
    
    <section>
      <div class="block">
        <p><span class="first-character ny">T</span>his website was created by Fernando Munoz for the 2021 Coding and Programming Event. 
        This website was created on angular. The event guidelines consisted of creating a stand alone program that generated the reesults of 
        a five question quiz.</p>
        <p class="line-break margin-top-10">
        </p>
        <p class="margin-top-10">The project contains two repositories both available on github. One repsitory contains all the original 
            code that was used to create this website. The second respository contains all the code in the format needed in order to host the app 
            from github pages.</p>
      </div>
    </section>
    
    <section>
      <div class="section-three">
        <h2>ABOUT US</h2>
      </div>
    </section>
    
    <section>
      <div class="block">
        <p><span class="first-character atw">A</span>t Eastwood FBLA we choose the best to hold officer positions. These are the officers for FBLA 
        2020/2021</p>
        <p></p>
        <p class="line-break margin-top-10">
        </p>
        <p></p>
        <p class="margin-top-10">Recruitment Director - Amaris Medly</p>
        <p class="margin-top-10">Reporter/Historian - Esteban Ortiz</p>
        <p class="margin-top-10">Treasurer - Meaghan Rivera</p>
        <p class="margin-top-10">Secretary - Mia Astorga Camargo</p>
        <p class="margin-top-10">Vice President - Sophia Gallegos</p>
        <p class="margin-top-10">President - Alexander Rodriguez</p>
      </div>
    </section>
      
    </div>