<!-- <div class="banner"></div>
<div class="about">
    <div class="content">
        <div class="title">We are Eastwood FBLA</div>
        <img src="https://fbla115.weebly.com/uploads/1/3/4/3/134384434/1603090187468-1603090186492-fbla_orig.jpg"
            height="550" alt="YearBook">
        <p></p>
    </div>
    
</div> -->
<section class="banner-area" id="home">
</section>


<!-- <section class="about-area" id="about">
    <div class="text-part">
        <h1>
            About Area</h1>
        <p>
           </p>
    </div>
</section>

<section class="port-area" id="portfolio">
    <div class="text-part">
        <h1>
            Portfolio Area</h1>
        <p>
            </p>
    </div>
</section>

<section class="service-area" id="services">
    <div class="text-part">
        <h1>
            Services Area</h1>
        <p>
           </p>
    </div>
</section>

<section class="contact-area" id="contact">
    <div class="text-part">
        <h1>
            Contact Area</h1>
        <p>
            </p>
    </div>
</section> -->