/* html {
  scroll-behavior: smooth;
}
body{
  margin: 0;
  padding: 0;
  font-family:Poppins;
}
h1{
  font-size: 50px;
  font-family:Audiowide;
}
p{
  font-size: 24px;
  line-height: 50px;
}
img{
  width: 20%;
}
a{
  margin: 15px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}
a:hover{
  color: #000;
}
.banner-area{
  position: relative;
  background-image: url("https://www.dlrgroup.com/media/737526/39_16108_05-eastwood-high-school-el-paso-texas-dlr-group-michael-robinson.jpg");
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.about-area, .port-area, .service-area, .contact-area{
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  height: 700px;
}
.text-part{
  width: 65%;
  height: 80%;
}        
.about-area{
  background-color: #fefefe;
}
.port-area{
  background-color: #262626;
  color: #fff;
}
.service-area{
  background-color: #fefefe;
}
.contact-area{
  background-color: #262626;
  color: #fff;
}
 */
 @import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
 @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);
 
 /* Override UGG site */
 #main {
   width: 100%;
  padding:0;
}

 .content-asset p {
   margin:0 auto;
  }
 .breadcrumb {display:none;}
 /* Helpers */
 /**************************/
 .margin-top-10 {padding-top:10px;}
 .margin-bot-10 {padding-bottom:10px;}
 
 /* Typography */
 /**************************/
 #home-screen .h1 {
   font-family:'Oswald', sans-serif; 
   font-size:24px; 
   font-weight:400; 
   text-transform: uppercase; 
   color:black; 
   padding:0; 
   margin:0;
  }

 #home-screen h2 {
   font-family:'Oswald', sans-serif; 
   font-size:70px; 
   letter-spacing:10px; 
   text-align:center; 
   color:white; 
   font-weight:400; 
   text-transform:uppercase; 
   z-index:10; 
   opacity:.9;
  }

  #home-screen h3 {
   font-family:'Oswald', sans-serif; 
   font-size:14px; 
   line-height:0; 
   font-weight:400; 
   letter-spacing:8px; 
   text-transform: uppercase; 
   color:black;
  }
  #home-screen p {
   font-family:'Source Sans Pro', sans-serif; 
   font-weight:400; 
   font-size:14px; 
   line-height:24px;
  }
  
 .first-character {
   font-weight:400; 
   float: left; 
   font-size: 84px; 
   line-height: 64px; 
   padding-top: 4px; 
   padding-right: 8px; 
   padding-left: 3px; 
   font-family: 'Source Sans Pro', sans-serif;}
 
 .sc {
   color: #3b8595;
  }
  
 .ny {
   color: #3d3c3a;
  }

 .atw {
   color: #c48660;
  }
 
 /* Section - Title */
 /**************************/
 #home-screen .title {
   background: white; 
   padding: 60px; 
   margin:0 auto; 
   text-align:center;
  }

  #home-screen .title h1 {
   font-size:35px; 
   letter-spacing:8px;
  }
 
 /* Section - Block */
 /**************************/
 #home-screen .block {
   background: white; 
   padding: 60px; 
   width:820px; 
   margin:0 auto; 
   text-align:justify;
  }

  #home-screen .block-gray {
   background: #f2f2f2;
   padding: 60px;
  }

  #home-screen .section-overlay-mask {
   position: absolute; 
   top: 0; 
   left: 0; 
   width: 100%; 
   height: 100%; 
   background-color: black; 
   opacity: 0.70;
  }
 
 /* Section - Parallax */
 /**************************/
 #home-screen .section-one {
  padding-top: 50vh; 
  padding-bottom: 100px; 
  overflow: hidden; 
  position: relative; 
  width: 100%; 
  height: 100vh;
  background-image: url(https://www.dlrgroup.com/media/737526/39_16108_05-eastwood-high-school-el-paso-texas-dlr-group-michael-robinson.jpg); 
  background-attachment: fixed; 
  background-size: cover; 
  -moz-background-size: cover; 
  -webkit-background-size: cover; 
  background-repeat: no-repeat; 
  background-position: top center;
}

#home-screen .section-two {
   padding-top: 50vh; 
   padding-bottom: 200px;
   height: 100vh; 
   overflow: hidden; 
   position: relative; 
   width: 100%; 
   background-image: url(https://fbla115.weebly.com/uploads/1/3/4/3/134384434/1603090187468-1603090186492-fbla_orig.jpg);
   background-attachment: fixed; 
   background-size: cover; 
   -moz-background-size: cover; 
   -webkit-background-size: cover; 
   background-repeat: no-repeat; 
   background-position: center center;
  }

  #home-screen .section-three {
   padding-top: 50vh; 
   padding-bottom: 200px; 
   height: 100vh;
   overflow: hidden; 
   position: relative; 
   width: 100%; 
   background-image: url(https://fbla115.weebly.com/uploads/1/3/4/3/134384434/img-20200809-124949-575_orig.jpg);
   background-attachment: fixed; 
   background-size: cover; 
   -moz-background-size: cover; 
   -webkit-background-size: cover; 
   background-repeat: no-repeat; 
   background-position: center center;}
 
 /* Extras */
 /**************************/
 #home-screen .line-break {
   border-bottom:1px solid black; 
   width: 150px; margin:0 auto;}
 
 /* Media Queries */
 /**************************/
 @media screen and (max-width: 959px) and (min-width: 768px) {
  #home-screen .block {
     padding: 40px; width:620px;
    }
 }
 @media screen and (max-width: 767px) {
  #home-screen .block {
     padding: 30px; width:420px;
    }
    #home-screen h2 {
     font-size:30px;
    }
    #home-screen .block {
     padding: 30px;
    }
    #home-screen .section-one, #home-screen .section-two, #home-screen .section-three {
     padding-top:100px; 
     padding-bottom:100px;
    }
 }
 @media screen and (max-width: 479px) {
  #home-screen .block {
     padding: 30px 15px; 
     width:290px;
    }
 }