body {
    padding-top: 30px;
    padding-right: 80px;
    padding-bottom: 0px;
    padding-left: 80px;
    background-color: rgb(209, 209, 209);
    height: 100vh;
}

h2 {
    padding-top: 10px;
}

button {
    background-color: rgb(0, 189, 189);
}

br {
    padding-top: 10px;
}